body {
	font-family: Arial, sans-serif; 
	font-style: normal;
	background-color: #ffcf40;
	text-align: center;
}

body {
	background-image: url("../images/iowa_farm.jpg");
	background-size: 100%;
	background-color: #cccccc;
}

hr {
	width: 200px;
}

h1, p {
	color: #0000FF;
}

h1 {
	font-family: Arial, sans-serif;
	font-size: 48px;
	text-decoration: underline;
	text-transform: uppercase;
}

p {
	font-family: Arial, monospace;
}